In [2]:
import zipfile
import os 
import cv2
import numpy as np
import pandas as pd

In [8]:
zip_file = r"C:\Users\shrav\Documents\Machine Learning\datasets\Mobile_Price_Clasification.zip"
Folder = r"C:\Users\shrav\Documents\Machine Learning\datasets\Mobile_Price_Classification"

In [9]:
with zipfile.ZipFile(zip_file, "r") as file:
    file.extractall(Folder)

In [3]:
df_train = pd.read_csv(r"C:\Users\shrav\Documents\Machine Learning\datasets\Mobile_Price_Classification\train.csv")

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.3 KB

In [6]:
df = df_train[["battery_power", "dual_sim", "fc", "four_g", "int_memory", "mobile_wt", "n_cores", "pc","ram", "sc_h","sc_w", "price_range"]]

In [7]:
df

,battery_power,dual_sim,fc,four_g,int_memory,mobile_wt,n_cores,pc,ram,sc_h,sc_w,price_range
0,842,0,1,0,7,188,2,2,2549,9,7,1
1,1021,1,0,1,53,136,3,6,2631,17,3,2
2,563,1,2,1,41,145,5,6,2603,11,2,2
3,615,0,0,0,10,131,6,9,2769,16,8,2
4,1821,0,13,1,44,141,2,14,1411,8,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0,1,2,106,6,14,668,13,4,0
1996,1965,1,0,0,39,187,4,3,2032,11,10,2
1997,1911,1,1,1,36,108,8,3,3057,9,1,3
1998,1512,0,4,1,46,145,5,5,869,18,10,0
1999,510,1,5,1,45,168,6,16,3919,19,4,3

In [8]:
df.describe()

,battery_power,dual_sim,fc,four_g,int_memory,mobile_wt,n_cores,pc,ram,sc_h,sc_w,price_range
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.509500,4.309500,0.521500,32.046500,140.249000,4.520500,9.916500,2124.213000,12.306500,5.767000,1.500000
std,439.418206,0.500035,4.341444,0.499662,18.145715,35.399655,2.287837,6.064315,1084.732044,4.213245,4.356398,1.118314
min,501.000000,0.000000,0.000000,0.000000,2.000000,80.000000,1.000000,0.000000,256.000000,5.000000,0.000000,0.000000
25%,851.750000,0.000000,1.000000,0.000000,16.000000,109.000000,3.000000,5.000000,1207.500000,9.000000,2.000000,0.750000
50%,1226.000000,1.000000,3.000000,1.000000,32.000000,141.000000,4.000000,10.000000,2146.500000,12.000000,5.000000,1.500000
75%,1615.250000,1.000000,7.000000,1.000000,48.000000,170.000000,7.000000,15.000000,3064.500000,16.000000,9.000000,2.250000
max,1998.000000,1.000000,19.000000,1.000000,64.000000,200.000000,8.000000,20.000000,3998.000000,19.000000,18.000000,3.000000

In [9]:
X = df.drop("price_range", axis = 1)
y = df["price_range"]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 23)

In [12]:
from sklearn.metrics import accuracy_score

# KNN

In [43]:
X_train = np.ascontiguousarray(np.array(X_train))
X_test = np.ascontiguousarray(np.array(X_test))

In [46]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_test,y_pred)

0.7775

# LogisticRegression

In [27]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(X_train,y_train)
y_pred = log.predict(X_test)
accuracy_score(y_test,y_pred)

C:\Users\shrav\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.66

# Naive_bayes

In [29]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train,y_train)
y_pred = log.predict(X_test)
accuracy_score(y_test,y_pred)

0.66

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   dual_sim       2000 non-null   int64
 2   fc             2000 non-null   int64
 3   four_g         2000 non-null   int64
 4   int_memory     2000 non-null   int64
 5   mobile_wt      2000 non-null   int64
 6   n_cores        2000 non-null   int64
 7   pc             2000 non-null   int64
 8   ram            2000 non-null   int64
 9   sc_h           2000 non-null   int64
 10  sc_w           2000 non-null   int64
 11  price_range    2000 non-null   int64
dtypes: int64(12)
memory usage: 187.6 KB

In [38]:
battery_power = int(input("Enter the Battery Power : "))
dual_sim = int(input("Enter the Dual Sim or Not : "))
fc = int(input("Enter the Front Camera Mega pixel : "))
four_g = float(input("Enter the Enter the 4G or Not : "))
int_memory = float(input("Enter the Internal Memory : "))
mobile_wt = int(input("Enter the Mobile Weight : "))
n_cores = int(input("Enter the Number of Cores : "))
pc = int(input("Enter the Primary Camera Mega Pixel : "))
ram = int(input("Enter the RAM : "))
sc_h = int(input("Enter the Screen Height : "))
sc_w = int(input("Enter the Screen Width"))
price_range = knn.predict([[battery_power, dual_sim, fc, four_g, int_memory, mobile_wt, n_cores, pc, ram, sc_h, sc_w ]])
print("The predicted Price is",price_range)

Enter the Battery Power : 1021
Enter the Dual Sim or Not : 1
Enter the Front Camera Mega pixel : 0
Enter the Enter the 4G or Not : 1
Enter the Internal Memory : 53
Enter the Mobile Weight : 136
Enter the Number of Cores : 3
Enter the Primary Camera Mega Pixel : 6
Enter the RAM : 2631
Enter the Screen Height : 17
Enter the Screen Width3
The predicted Price is [2]

In [39]:
import pickle

In [40]:
pickle.dump(knn,open("MobilePriceClassification.pkl","wb"))

In [41]:
model = pickle.load(open("MobilePriceClassification.pkl","rb"))

In [42]:
model

KNeighborsClassifier()

In [45]:
import joblib

# Save the model
joblib.dump(knn, 'knn_model.pkl')

# Load the model
knn = joblib.load('knn_model.pkl')